.movies-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-gap: 1%;
  overflow: scroll;
  height: 80vh;
  }

.error-message {
  color: white;
}

@media screen and (max-width:375px) {
  .movies-container {
    justify-content: center;

  }
}


