.details-page {
  color: white;
}

.trailer-location{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop-image {
  height: 70vh;
  width: 100vw;
  position: relative;
  /* opacity: .2; */
}

/* .fade {
  z-index: -1;
  position: relative;
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
  height: 70vh;
  /* background-color: white; */
  /* background-color: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); */

/* }  */

.fade {
  display: inline-block;
  position: relative;
}

.fade:after {
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background: linear-gradient(to top, rgba(167,167,167,1) 0%,rgba(167,167,167,0.84) 10%,rgba(167,167,167,0.66) 21%,rgba(167,167,167,0) 61%,rgba(167,167,167,0) 99%);
}

.x-icon,
.play-button {
  cursor: pointer;
  height: 6em;
}

.play-button:hover {
  transition: .5s ease-in-out;
  transform: scale(1.2);
}

.x-icon:hover {
  transition: .5s ease-in-out;
  transform: scale(1.2);
}

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 43vh;
  left: 5vh;
  bottom: 0;
  right: 0;
}

.left-side-overlay {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.movie-details {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.movie-title,
.rating {
  font-size: 3em;
  margin: 0;
}

h2 {
  margin: .5em 0 .5em 0;
}

h4 {
  margin: 0 4em 0 0
}

.trailer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overview-section {
  display: flex;
  flex-direction: column;
  margin-left: 3.6em;
}

.bottom-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}

.rating {
  font-size: 6em;
  margin: 0.4em 0.1em 0 0;
}

.rating-section {
  position: absolute;
  margin-left: 80%;
}

.play-button {
  margin-top: 1em;
}

.x-location {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 90%;
}

.loading {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height:80vh;
}

.loading-circle {
  width: 40vh;
  height: 40vh;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

.sad-cloud {
  height: 30vh
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8em;
}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}
