.logo {
  height: 15%;
  width: 15%;
  margin: 2em 1em 1em 1em;
}

.magnify-glass {
  height: 3.4em;
  width: 10%;
  border: .9px solid grey;
  border-right: none;
  border-radius: .2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.title {
  color: white;
  font-size: 3em;
  margin: 0;
}

html {
  background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 30%, hsla(230, 95%, 36%, 1) 100%);
  /* background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 19%, hsla(285, 95%, 36%, 1) 100%); */
  /* background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 19%, hsla(285, 96%, 50%, 1) 100%); */
  background-attachment: fixed;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 1em 0 1em 0 */
}
