.logo {
  height: 15%;
  width: 15%;
}

html {
  background-image: linear-gradient(to right top, #1a191b, #2b2134, #3c294e, #4f3069, #643685, #6c3594, #7534a3, #7d32b3, #7729ba, #7020c2, #6615ca, #5a06d2);
  background-attachment: fixed;
}
