.movies-container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 1%;
  }

.error-message {
  color: white;
}
